.navbar li {
  display: inline-block;
  text-align: left;
}

.itemLeft {
  width: 70%;
  font-size: 30px;
  padding-left: 10px;
}

.itemCenter {
	width: 2%;
}

.itemRight {
  width: 25%;
  padding-right:10px;
}

.navbar {
  background: #07300a;
  box-shadow: 0 3px 6px rgb(61, 1, 1), 0 3px 6px rgb(61, 1, 1);
}

li {
  color: white;
  padding: 15px 0;
}

body {
  font-size: 24px;
}
