.header{
	background-color: blanchedalmond;
	position: relative;
	width: 100%;
	color: rgb(61, 1, 1),
}

h1{
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	padding: 12px 0px 20px 0; 
	
}
/* 
h2{
	text-align: center;
	font-size: 1px;
	padding-bottom: 40px;
	color: rgb(61, 1, 1),
} */
